<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Climate Solutions</title>
</head>
<body class="bg-base-100 text-base-content">

    <!-- NavBar -->
    <%- include('partials/navbar', { page: 'about' }) %>

  <section class="hero min-h-[80vh] bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="https://avatars.githubusercontent.com/u/9919?s=200&v=4" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold mb-4">About Me</h1>
        <p class="py-6 max-w-lg">
          Hello! My name is <strong> Cristian Vargas </strong> , and I'm studying Computer Programming at Seneca College.</br>
          This website was built for Assignment 2 of WEB322.
        </p>
        <a href="/solutions/projects" class="btn btn-primary">See My Projects</a>
      </div>
    </div>
  </section>
</body>
</html>
